
.mainBackground{
    /*background-color:#004990;*/
    background-color: #01B5E7
}

.jumbotron {
    border-radius: 25px ;
   
    margin:  50px 50px 50px 50px;
}
.text-center{
    margin-bottom: 100px;
    color: #03A9F4
}
.imgSize{
    height: 25%;
    width: 25%
}

.bg{
    background-color: white;
}

::placeholder{ text-align: center; }
